:root {
  width: 100%;
  --pink-default: rgb(255, 166, 249);
  --purple-default:  rgb(105, 46, 182);
}

/* main page styles */

body {
  background-image: url('./assets/top-view-headset-pink-background.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgb(184, 107, 255);
  color: white;
  margin: 0;
}

.site-head {
  background-color: var(--purple-default);
  display: flex;
  justify-content: center;
}

.title {
  padding: 1rem;
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: 'Protest Strike', sans-serif;
  font-size: xx-large;
  color: rgb(255, 255, 255);

}

.emphasis {
  color: var(--pink-default);
}

.title,
.emphasis {
  text-align: center;
}

.userStyle {
  display: flex;
  align-self: center;
  justify-self: flex-end;
}

/* font */
.protest-strike-regular {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* style for search input and button */
#search {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

button {
  display: flex;
  background-color: var(--purple-default);
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 1.3rem;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

input {
  height: 3rem;
  border-radius: 1rem;
  border: 1px var(--purple-default) solid;
  margin-bottom: 1rem;
  display: flex;
  text-align: center;
}

#centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

/* style for results and playlist */

.container {
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

#results {
width: 40vw;
height: 60vh;
background-color: var(--purple-default);
overflow-y: auto;
}

#new-playlist {
width: 40vw;
background-color: var(--purple-default);
overflow-y: scroll;
height: 60vh;
}

h1 {
text-align: left;
}

hr {
  width: 90%;
}

#special {
background-color: var(--pink-default);
align-items: center;
justify-content: center;
}

#results::-webkit-scrollbar, #new-playlist::-webkit-scrollbar {
  background-color: var(--purple-default);
}

#results::-webkit-scrollbar-button, #new-playlist::-webkit-scrollbar-thumb {
  background-color: var(--pink-default);
}

/* specific elements for playlist styles */

#playlist-styles {
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* specific styles for track listing */

#track-information:nth-child(odd) {
background-color: white;
color: var(--purple-default);
}

#track {
display: flex;
}

#track-information {
  flex-direction: row;
}